/*Partie Menu*/

*{
    margin:0px;
    font-family: Tahoma, Geneva, sans-serif;
}

/*Partie Header*/

header {
    background-color : #31394d
    ;
    text-align : center;
    width : 100%;
}

.menu button{
    background-color: #31394d;
    border: 0px;
    color: white;
    padding: 2vh 24px;
    cursor: pointer;
    float: left;
    width: 25%;
}

.menu button:hover{
    background-color: #6f82b3;
}

/*Partie contenu*/

main{
    background-color: #ffffff;
}


/*Partie Footer*/


footer{
    text-align: right;
    background-color: #31394d;
    bottom: 0;
    width: 100%;
    position: static;
    background-image: url("../img/IUT_Site_Tlse_I.jpg");
    background-repeat: no-repeat;
    background-position: 99%;
    background-size: 8vh;
}



footer p, a{
    text-align: center;
    color : white;
}


.logo-iut img{ 
    width: 10vh;
    
}