/*Partie Menu*/

*{
    margin:0;
    padding: 0;
    border:0;
    font-family: Tahoma, Geneva, sans-serif;
}

/*Partie Header*/

header {
    position: fixed;
    background-color : #31394d;
    text-align : center;
    width : 100%;
    z-index: 4;
}

.menu button{
    background-color: #31394d;
    border: 0px;
    color: white;
    padding: 2vh 24px;
    cursor: pointer;
    float: left;
    width: 24%;
    z-index: 4;
}

.menu button:hover{
    background-color: #6f82b3;
    z-index: 4;
}

.home a{
    display: flex;
    position: relative;
    float: left;
    background-color: #cec6b2;
    background-image: url(homeLogo.png);
    background-size: 6.3vh;
    background-repeat: no-repeat;
    filter: invert(100%);
    width: 4%;
    height: 6.2vh;
    background-position: center;
}

.home a:hover{
    background-color: #907d4c;
}

/*Partie contenu*/

main{
    display: flex;
}

.contenu {
    flex : 1;
    position: relative;
    margin-top: 10vh;
    margin-left: 3.5%;
    float: left;
    width: 79vw;
    min-height: 150vh;
    background-color: rgb(243, 241, 239);
}

.titre {
    margin-top: 3vh;
    width: 74vw;
    font-size: 3vh;
    text-align: center;
}

.titre h6{
    font-style: italic;
}

img {
    width: 90%;
    margin-left: 5%;
    margin-top: 6vh;
}

.img_description{
    width: 90%;
    margin-top: -1vh;
    text-align: center;
    margin-left: 5%;
    position: sticky;
    background-color: rgb(200, 203, 204);
}


.corpsArticle {
    width: 74vw;
    margin-top: 6vh;
    position: relative;
    font-size: 2.5vh;
    z-index: 3;
    text-align: justify;
}

.corpsArticle p {
    text-indent: 5%;
    margin-right: 4vw;
    margin-left: 4vw;
}

.corpsArticle h3 {
    margin-right: 4vw;
    margin-left: 4vw;
}

table {
    table-layout: fixed;
    width: 89%;
    border-collapse: collapse;
    border: 1px solid black;
    margin-right: 4vw;
    margin-left: 4vw;
    margin-bottom: 3vh;
}

table caption {
    font-style: italic;
    margin-bottom: 1vh;
    background-color: lightgray;
}

table th, td {
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

table th {
    background-color: #3f4961;
    color: white;
}

.videoYT {
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 2%;
}

.videoYT iframe{
    width: 60vw;
    height: 70vh;
}

.sources{
    font-size: 13px;
    background-color: rgb(175, 174, 174);
}

.bandeauDroite{
    flex: 1;
    width: 3vw;
}

.autresArticles {
    width: 15vw;
    margin-top: 10vh;
    margin-right: 2vw;
    align-content: center;
    text-align: center;
    justify-content: space-around;
    display: block;
    background-color: rgb(243, 241, 239);
    border: 2px solid rgb(243, 241, 239);
}

.autresArticles h3{
    margin-top: 3vh;
    background-color: rgb(243, 241, 239);
    color: black;
}

#art2, #art3, #art4 {
    display: block;
    margin-top: 2vh;
    width: 15vw;
    background-repeat: no-repeat;
    z-index: 2;
    color: transparent;
    background-size: 100%;
    padding-top: 4vw;
    padding-bottom: 4vw;
}

#art2text, #art3text, #art4text{
    color: black;
    text-decoration: none;
    text-align: justify;
}

.art2div:hover, .art3div:hover, .art4div:hover{
    filter: opacity(70%);
    transition: 7ms;
}

#art2{
    background-image: url("productivity.jpg");
}
#art3{
    background-image: url("electricBrain.jpg");
}
#art4{
    background-image: url("dataSecurity.jpg");
}

/*Partie Footer*/


.footerSite{ 
    position: static;
    margin-top: 5vh;
    bottom: 0;
    text-align: right;
    background-color: #312f2f;
    width: 100%;
    background-image: url("IUT_Site_Tlse_I.jpg");
    background-repeat: no-repeat;
    background-position: 99%;
    background-size: 8vh;
}



footer p, a{
    text-align: center;
    color : white;
}


.logo-iut img{ 
    width: 10vh;
}