/*Partie Menu*/

*{
    margin:0px;
    font-family: Tahoma, Geneva, sans-serif;
}

/*Partie Header*/

header {
    background-color : #312f2f;
    text-align : center;
    width : 100%;
}

.menu button{
    background-color: #312f2f;
    border: 0px;
    color: white;
    padding: 2vh 24px;
    cursor: pointer;
    float: left;
    width: 25%;
}

.menu button:hover{
    background-color: #353333;
}

/*Partie contenu*/

main{
    background-color: #091a2a;
}

.cerveau{
    height: 100vh;
    background-image: url("cerveau.jpg");
    background-repeat: no-repeat;
    background-size: 100vw, 98vh;
    background-position: center top;
    color: white;
    text-align: center;
}

.cerveau a{
    position: relative;
    top: 90vh;
    color: white;
}

.categories{
    color: white;
    height: 100vh;
}

.categories a{
    display: inline-block;
    background-repeat: no-repeat;
    width: 30vw;
    height: 80vh;
    text-align: center;
    margin-top: 10vh;
    margin-right: 2.5vh;
    margin-left: 2.5vh;
}

#projet{
    background-image: url("neura.jpg");
    background-position: 75%;
    background-size: 60vw;
}

#lies {
    background-image: url("oeil.jpeg");
    background-position: 48%;
    background-size: 62vw;
    
}

#futur {
    background-image: url("transhumanisme.jpg");
    background-size: 30vw;
    background-position: 48%;
}

#projet:hover {
    background-image: none;
    background-color: #353333;
}

/*Partie Footer*/


footer{
    text-align: right;
    background-color: #312f2f;
    bottom: 0;
    width: 100%;
    position: static;
    background-image: url("IUT_Site_Tlse_I.jpg");
    background-repeat: no-repeat;
    background-position: 99%;
    background-size: 8vh;
}



footer p, a{
    text-align: center;
    color : white;
}


.logo-iut img{ 
    width: 10vh;
}